@{
    ViewData["Title"] = "Accueil";
}

<div class="text-center">
    <h1 class="display-4">Fête de quartier</h1>
    <p>Bienvenue sur Fête de quartier, où vous trouverez tous les évènements branchés près de chez vous!</p>
    <p>Rendez-vous sur notre <a href="https://github.com/chgirard/fete_de_quartier">github</a> pour suivre le développement du site.</p>
</div>
